body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#navigation {
    background-color: #000000;
    overflow: hidden;
    color: white;
}
#navigation a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: right;
    justify-content: right;
}
#navigation li {
    margin: 0;
    font-size: 18px;
}
#navigation li:hover {
    background-color: #575757;
}
.Search {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.Search:focus {
    outline: none;
}
.Search:hover {
    background-color: #ddd;
}
.Search {
    float: right;
    margin-right: 16px;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
#navigation header {
    margin-right: auto;
    padding: .1px 16px;
    font-size: 10px;
}